nav ul.container{
    justify-content: center !important;
}
.nav-link{
    font-size: 14px;
    color: #4E4E4E !important;
    margin-bottom: 13px;
}

.nav-link:hover{
    margin-bottom: 8px;
    border-bottom: 5px solid #FF6600;
}
.nav-link:active{

}

@media (max-width: 1848px) {
    
    .navbars.container{
        
        max-width: 1759px !important;
        max-height: 95px !important;
    }
    .form-control{
        width: 846px !important;
        max-height: 48px;
    }
    .form-control.me-2{
        background-color: #F8F8F8 !important;
        border: none;
        border-radius: 50px;
        padding: 0;
    }
    .navbar{
        padding-top: 18px !important;
        padding-bottom: 18px !important;
    }
    .me-2 {
        margin-right: -2.5rem !important;
    }
}

@media (max-width: 1440px) {
    .navbars.container{
        
        max-width: 1351px !important;
        max-height: 95px !important;
    }
    .navbar{
        padding-top: 18px !important;
        padding-bottom: 18px !important;
    }
    .form-control{
        max-width: 846px !important;
        max-height: 48px !important;
    }
    .form-control.me-2{
        background-color: #F8F8F8 !important;
        border: none;
        border-radius: 50px;
        padding: 0;
    }
    .me-2 {
        margin-right: -2.5rem !important;
    }
}
