{% extends "base.html" %}
{% load static %}

{% block body_class %}template-blogpage{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock extra_css %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}


{% for post in posts %}
<div class="box card mb-3 container">
  <div class="row g-0">
    <div class="col-md-4 img-css">
      {% image post.header_image original as header_image %}
      <img src="{{ header_image.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body body-css">
        <h5 class="card-title">{{ post.title }}</h5>
        <div class="row title">
          <div class="col-md-4">{{post.last_published_at|date:'H'}}</div>
          <div class="col-md-4">{{page}}</div>
          <div class="col-md-4">hora</div>
        </div>
        <p class="card-text">{{ post.body|richtext }}</p>
        <a href="{% pageurl post %}" class="btn btn-primary" >ver mas</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock content %}
