{% extends "base.html" %}
{% load static %}

{% block body_class %}template-postpage{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock extra_css %}
{% block content %}
{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}
<div style="justify-content: center;display: flex;">
    <div class=" cards-detail row row-cols-12 row-cols-md-12 g-12 ">
        <div class="col">
          <div class="card">
            <h5 class="card-title">{{ page.title }}</h5>
            {% image page.header_image original as header_image %}
            <img src="{{ header_image.url }}" class="img-detail-post img-fluid rounded-start" alt="...">  
            <div class="card-body">
                <p class="card-text">{{ page.body|richtext }}</p>
            </div>
          </div>
        </div>
    </div>
</div>


{% endblock content %}