{% load i18n wagtailroutablepage_tags blogapp_tags %}
<nav class="navbar">
    <ul class="nav navbars container">
      <!--<li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Active</a>
      </li>-->
      
         
    {%for category in categories%}
        {%if blog_page%}
            <li class="nav-item">
                <a class="nav-link" href="{% routablepageurl blog_page "post_by_category" category %}">{{category}}</a>
            </li>
        {%endif%}
    {%endfor%}
         
    </ul>
</nav>