.box.card.mb-3{
    max-width: 1051px;
    height: 266px;
    padding-left: 0px;
    padding-right: 0px;
}
.col-md-4.img-css{
    max-width: 326px;
    height: 266px;
}
.img-fluid{
    height: 100%;
}
.card-body.body-css{
    height: 100%;
}
.center.container{
    justify-content: center !important;
}
.card-title{
    font-size: 18px;
    font-weight: bold;
}
.card-text{
    font-size: 16px;
    font-weight: normal;
    color: #212121;
}

.btn{
    /*
    width: 100%;
    height: 47px;
    margin-top: 110px !important;
    font-size: 15px;
    */
}
.btn-primary, .btn-primary:hover{
    background-color: #FF6600;
    border-color: #FF6600;
    border-radius: 6px;
    
}
.row.title{
    color: #4885ED;
}
