{% load static wagtailcore_tags wagtailuserbar %}
{% load static blogapp_tags %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/website.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {%load i18n wagtailcore_tags %}

        <header class="header">
          <nav class="navbar">
            <div class="navbars container">
              <a class="navbar-brand" href="#">
                <svg width="215" height="49" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="576 166 288 65"><svg width="56" height="50" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#262e3a" x="576" y="181"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="56" height="50"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M52.214 32.656a25.148 25.148 0 0 1-3.018 4.23l.032.032-1.067 1.071c-4.757 4.786-11.093 7.423-17.84 7.423-6.718 0-13.035-2.617-17.786-7.368-4.75-4.75-7.369-11.068-7.369-17.787a24.785 24.785 0 0 1 .058-1.708l.001-.02.01-.138.001-.022c.007-.103.017-.208.026-.312l.024-.266.042-.406.03-.253c.013-.11.03-.235.046-.36l.03-.203a24.848 24.848 0 0 1 .09-.578l.035-.187c.013-.08.03-.172.046-.262l.049-.25a24.258 24.258 0 0 1 .586-2.342l.006-.02.081-.264a23.517 23.517 0 0 1 .542-1.541c.023-.06.048-.123.074-.185a16.781 16.781 0 0 1 .192-.47c.028-.07.062-.148.095-.225l.015-.035.14-.313a24.939 24.939 0 0 1 2.39-4.163l.142-.197c.1-.138.2-.273.3-.406.049-.062.098-.13.15-.196.11-.142.22-.282.333-.422.065-.08.131-.163.2-.243.06-.076.13-.157.198-.238.067-.08.136-.16.206-.24.077-.089.156-.18.236-.269L8.587.568C3.686 5.965.994 12.932.994 20.257c0 7.834 3.05 15.198 8.59 20.738 5.54 5.539 12.903 8.59 20.738 8.59 7.859 0 15.24-3.07 20.783-8.639a29.418 29.418 0 0 0 4.153-5.245l-3.044-3.045z"/></svg></svg><svg width="37" height="43" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#f60" x="584" y="181"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="37" height="43"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M6.681 35.897a21.975 21.975 0 0 0 16.197 6.47c.092 0 .181-.004.273-.007h.013a33.518 33.518 0 0 0 .88-.05l.074-.006.3-.027c.089-.008.172-.015.257-.025l.166-.017.112-.013a8.32 8.32 0 0 0 .22-.029c.272-.033.542-.072.804-.116l.22-.038.023-.005.173-.03.029-.006.226-.044c.2-.039.393-.079.587-.123.13-.028.26-.06.389-.092l.017-.004c.033-.008.065-.015.098-.025.097-.023.183-.046.27-.069.075-.02.146-.038.216-.058.062-.016.115-.031.168-.047l.132-.037.03-.01a9.21 9.21 0 0 0 .163-.048c.091-.027.172-.051.25-.077l.18-.056c.187-.061.37-.123.553-.188l.147-.053.036-.012c.065-.023.123-.044.178-.067.091-.033.173-.063.255-.096.07-.026.129-.049.188-.073.113-.046.215-.086.318-.129l.307-.131c.097-.042.19-.082.282-.125l.147-.066.043-.02.228-.108c.464-.22.923-.46 1.366-.711l.14-.08.305-.179.506-.312c.225-.142.455-.295.704-.466l.206-.146.029-.02a5.96 5.96 0 0 0 .153-.11l.015-.01a6.12 6.12 0 0 0 .112-.082l.014-.01a17.226 17.226 0 0 0 .395-.295c.047-.037.086-.069.127-.1l.047-.037.21-.166c.072-.058.141-.116.21-.173l.02-.016c.132-.108.264-.22.396-.335l.12-.105-2.957-2.958a17.887 17.887 0 0 1-11.626 4.272c-9.895 0-17.945-8.05-17.945-17.944A17.82 17.82 0 0 1 9.688 7.514 18.125 18.125 0 0 1 15.3 3.74L12.162.604c-2 1.037-3.826 2.37-5.432 3.967A21.962 21.962 0 0 0 .204 20.257c0 5.909 2.3 11.463 6.477 15.64z"/></svg></svg><svg width="55" height="50" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#f60" x="577" y="166"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="55" height="50"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M54.417 29.752c0-7.833-3.05-15.197-8.59-20.736-5.54-5.54-12.903-8.59-20.738-8.59-7.86 0-15.241 3.066-20.783 8.638A29.346 29.346 0 0 0 .153 14.31l3.044 3.044a25.238 25.238 0 0 1 3.017-4.23l-.031-.031L7.25 12.02c4.757-4.787 11.093-7.423 17.839-7.423 6.719 0 13.037 2.617 17.787 7.368 4.75 4.75 7.369 11.067 7.369 17.786 0 .498-.016 1.002-.046 1.5l-.012.21c-.003.049-.008.1-.01.153l-.002.025-.026.312-.024.27c-.013.129-.027.267-.043.404a9.143 9.143 0 0 1-.03.252c-.012.11-.028.235-.046.359-.01.07-.019.136-.03.203-.015.115-.034.24-.055.366l-.036.214c-.01.062-.02.124-.033.186-.012.08-.03.172-.047.262a11.21 11.21 0 0 1-.05.251 25.005 25.005 0 0 1-.584 2.342c-.029.094-.056.188-.088.283a23.749 23.749 0 0 1-.613 1.724l-.083.207-.111.266c-.028.07-.062.147-.095.224l-.015.035c-.047.104-.092.209-.14.312l-.106.23a24.805 24.805 0 0 1-2.284 3.933l-.14.197c-.102.139-.202.274-.302.406l-.15.196c-.11.143-.221.284-.333.423-.065.08-.132.163-.2.244l-.184.222-.013.014c-.07.08-.137.162-.207.24-.077.09-.156.18-.236.27l2.954 2.955c4.9-5.397 7.592-12.364 7.592-19.69z"/></svg></svg><svg width="38" height="43" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#262e3a" x="587" y="173"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="38" height="43"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M22.112 39.27l3.136 3.136c2.001-1.037 3.827-2.37 5.432-3.966a21.966 21.966 0 0 0 6.528-15.688A21.976 21.976 0 0 0 30.73 7.113 21.975 21.975 0 0 0 14.533.643a8.763 8.763 0 0 0-.272.007h-.014a34.333 34.333 0 0 0-.731.04c-.057.002-.103.007-.149.01l-.075.006-.298.026-.258.026-.168.017-.086.01-.029.004a20.36 20.36 0 0 0-1.238.182l-.024.005c-.058.009-.113.02-.167.03l-.036.006c-.073.014-.146.027-.218.042-.206.04-.4.08-.594.125-.13.028-.26.06-.389.092l-.017.005c-.033.006-.065.014-.098.022-.097.024-.183.047-.27.07-.074.02-.145.037-.216.059-.062.016-.115.031-.17.047l-.13.038-.03.01c-.054.014-.11.029-.164.047-.09.026-.17.052-.25.077l-.18.057a19.603 19.603 0 0 0-.694.237l-.043.015-.173.064c-.095.035-.177.067-.258.098l-.188.074c-.114.044-.215.087-.318.129l-.307.132a9.77 9.77 0 0 0-.429.19l-.044.02-.227.108a21.055 21.055 0 0 0-1.795.961l-.32.194-.203.127c-.225.142-.455.295-.702.466l-.19.132-.04.029c-.058.04-.11.077-.161.115l-.02.015-.105.077-.014.011a7.96 7.96 0 0 0-.19.14c-.07.052-.137.104-.203.155-.049.036-.088.068-.128.098l-.048.038c-.07.055-.14.11-.21.167-.078.062-.154.126-.23.188-.134.109-.264.22-.396.335l-.12.105L3.462 9.08a17.888 17.888 0 0 1 11.626-4.274c9.895 0 17.944 8.051 17.944 17.945 0 4.823-1.886 9.349-5.31 12.745a18.132 18.132 0 0 1-5.611 3.772z"/></svg></svg><svg width="24" height="33" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#f60" x="650" y="171"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="33"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M.465 32.424V.966h23.01v2.921H3.835V29.28h19.64v3.145H.465zM19.34 17.91H6.757v-2.92H19.34v2.92z"/></svg></svg><svg width="29" height="33" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#f60" x="678" y="171"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="29" height="33"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M28.954 32.425h-3.37V7.528l-10.876 18.38-10.92-18.38v24.897H.418V.967h3.505l10.785 18.65L25.448.967h3.506v31.458z"/></svg></svg><svg width="25" height="33" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#f60" x="714" y="171"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="33"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M12.008 22.762H3.514v9.662H.144V.966h11.864c7.73 0 12.314 4.36 12.314 10.876 0 6.561-4.584 10.92-12.314 10.92zM10.211 3.887H3.514v15.954h6.697c7.055 0 10.74-2.516 10.74-7.999 0-5.438-3.685-7.955-10.74-7.955z"/></svg></svg><svg width="27" height="33" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#f60" x="743" y="171"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="27" height="33"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M15.319 22.537l11.01 9.887h-5.078l-10.74-9.662H4.084v9.662H.714V.966h11.864c7.73 0 12.314 4.36 12.314 10.876 0 6.201-3.506 9.752-9.573 10.695zm-4.763-18.65H4.084v15.954h6.472c7.055 0 10.965-2.516 10.965-7.999 0-5.438-3.91-7.955-10.965-7.955z"/></svg></svg><svg width="24" height="33" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#f60" x="775" y="171"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="33"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M.172 32.424V.966H23.18v2.921H3.542V29.28h19.639v3.145H.171zM19.046 17.91H6.463v-2.92h12.583v2.92z"/></svg></svg><svg width="27" height="33" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#f60" x="800" y="171"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="27" height="33"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M6.135 26.672c3.73 3.37 9.797 4.224 13.976 1.483 3.64-2.426 3.01-6.067 2.157-7.28-1.348-1.978-4.045-2.337-6.606-3.011-4.045-1.079-8.359-1.079-11.325-4.629-2.112-2.607-2.112-6.472.404-9.213C6.988 1.551 10.54.472 13.775.472c3.91.045 7.954 1.483 10.56 4.539.045 0 .09.09.135.18l-2.561 2.157c-.9-.944-1.888-1.798-3.012-2.427-3.55-1.842-8.223-1.887-11.28.764-1.662 1.483-1.842 3.73-.449 5.573 1.978 2.606 5.888 2.562 9.528 3.46 4.403 1.123 8.763 2.292 9.617 7.37.673 4.045-1.843 7.775-5.843 9.572-6.606 3.011-15.414.63-19.01-5.482-.313-.495-.494-.899-.583-1.214l3.1-1.123c.27.584.854 1.663 2.158 2.831z"/></svg></svg><svg width="34" height="33" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#f60" x="829" y="171"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="34" height="33"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M30.209 32.425L17.266 4.382 4.278 32.425H.548L15.198.967h4.09l14.65 31.458h-3.73z"/></svg></svg><svg width="7" height="11" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#f60" x="650" y="215"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="11"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M.919 10.066V.974h4.98v1.128H2.217v2.79h3.216V6.02H2.216v2.918h3.852v1.128H.918z"/></svg></svg><svg width="8" height="11" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#f60" x="660" y="215"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="11"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M5.742 7.719c0-1.881-4.28-1.492-4.28-4.359C1.462 1.934 2.668.844 4.38.844c1.167 0 2.024.441 2.465.857l-.805.998c-.389-.337-.933-.688-1.75-.688-.947 0-1.505.532-1.505 1.259 0 1.906 4.293 1.53 4.293 4.37 0 1.363-1.103 2.556-3.152 2.556-1.492 0-2.478-.571-2.944-.999l.765-1.076c.48.402 1.22.92 2.322.92s1.673-.583 1.673-1.322z"/></svg></svg><svg width="7" height="11" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#f60" x="672" y="215"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="11"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M6.49 3.607c0 1.777-.998 2.97-3.255 2.97H2.029v3.49H.732V.973h2.75c1.815 0 3.008.752 3.008 2.633zM2.03 2.115v3.347h1.18c1.452 0 1.933-.636 1.933-1.686 0-1.18-.649-1.66-1.92-1.66H2.029z"/></svg></svg><svg width="8" height="11" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#f60" x="682" y="215"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="11"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M5.01.974l2.906 9.092H6.528l-.765-2.49H2.299l-.778 2.49H.185L3.065.974h1.946zM2.65 6.448h2.762l-.778-2.53c-.156-.558-.506-1.686-.584-2.036H4c-.065.337-.416 1.492-.558 1.997L2.65 6.448z"/></svg></svg><svg width="7" height="11" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#f60" x="694" y="215"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="11"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M4.202.844c1.505 0 2.258.584 2.542.843l-.842.986C5.552 2.336 5.045 2 4.099 2c-1.492 0-2.361 1.09-2.361 3.502 0 2.282.843 3.528 2.477 3.528.895 0 1.414-.299 1.725-.61l.726.921c-.389.415-1.232.857-2.606.857-2.581 0-3.658-1.83-3.658-4.605 0-2.945 1.31-4.748 3.8-4.748z"/></svg></svg><svg width="2" height="11" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#f60" x="706" y="215"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="2" height="11"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M.308.974h1.31v9.093H.308V.974z"/></svg></svg><svg width="8" height="11" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#f60" x="713" y="215"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="11"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M4.058 10.197C1.866 10.197.53 8.938.53 5.566.53 2.233 1.983.844 4.176.844c2.178 0 3.54 1.272 3.54 4.63 0 3.348-1.453 4.723-3.658 4.723zm.09-1.142c1.363 0 2.219-.843 2.219-3.49 0-2.671-.881-3.579-2.282-3.579-1.324 0-2.219.817-2.219 3.476 0 2.685.895 3.593 2.283 3.593z"/></svg></svg><svg width="6" height="11" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#f60" x="734" y="215"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="6" height="11"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M5.883 3.607c0 1.777-.999 2.97-3.256 2.97H1.422v3.49H.125V.973h2.75c1.815 0 3.008.752 3.008 2.633zM1.422 2.115v3.347h1.18c1.452 0 1.932-.636 1.932-1.686 0-1.18-.648-1.66-1.92-1.66H1.423z"/></svg></svg><svg width="9" height="11" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#f60" x="743" y="215"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="9" height="11"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M5.403.974l2.905 9.092H6.921l-.765-2.49H2.692l-.778 2.49H.578L3.458.974h1.945zm-2.36 5.474h2.762l-.778-2.53c-.156-.558-.506-1.686-.584-2.036h-.051c-.065.337-.416 1.492-.558 1.997l-.792 2.569z"/></svg></svg><svg width="7" height="11" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#f60" x="756" y="215"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="11"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M2.973.974c1.92 0 3.06.752 3.06 2.594 0 1.518-.933 2.348-2.01 2.49v.052c.39.182.714.493 1.128 1.22l1.597 2.736h-1.57L3.569 7.148c-.285-.519-.648-.74-1.245-.74h-.532v3.658H.496V.974h2.477zM1.793 5.32h1.05c1.193 0 1.854-.493 1.854-1.634 0-1.142-.673-1.583-1.906-1.583h-.999V5.32z"/></svg></svg><svg width="8" height="11" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#f60" x="767" y="215"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="11"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M4.941.974l2.905 9.092H6.46l-.766-2.49H2.23l-.778 2.49H.116L2.996.974H4.94zm-2.36 5.474h2.762l-.778-2.53c-.156-.558-.506-1.686-.584-2.036H3.93c-.065.337-.415 1.492-.558 1.997l-.79 2.569z"/></svg></svg><svg width="6" height="11" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#f60" x="787" y="215"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="6" height="11"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M.632 10.066V.974h4.981v1.128H1.93v2.79h3.217V6.02H1.93v2.918h3.853v1.128H.632z"/></svg></svg><svg width="7" height="11" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#f60" x="797" y="215"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="11"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M5.456 7.719c0-1.881-4.28-1.492-4.28-4.359 0-1.426 1.206-2.516 2.918-2.516 1.167 0 2.023.441 2.465.857l-.805.998c-.389-.337-.933-.688-1.751-.688-.946 0-1.504.532-1.504 1.259 0 1.906 4.293 1.53 4.293 4.37 0 1.363-1.103 2.556-3.152 2.556-1.492 0-2.478-.571-2.944-.999l.764-1.076c.48.402 1.22.92 2.323.92s1.673-.583 1.673-1.322z"/></svg></svg><svg width="6" height="11" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#f60" x="809" y="215"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="6" height="11"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M1.742.974v7.964H5.49v1.129H.446V.974h1.296z"/></svg></svg><svg width="8" height="11" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#f60" x="819" y="215"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="11"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M3.634 10.197c-2.191 0-3.527-1.259-3.527-4.631C.107 2.233 1.559.844 3.752.844c2.178 0 3.54 1.272 3.54 4.63 0 3.348-1.452 4.723-3.658 4.723zm.091-1.142c1.362 0 2.218-.843 2.218-3.49 0-2.671-.881-3.579-2.282-3.579-1.324 0-2.218.817-2.218 3.476 0 2.685.894 3.593 2.282 3.593z"/></svg></svg><svg width="8" height="11" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#f60" x="831" y="215"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="11"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M7.288 1.7l-.843.96c-.389-.363-.947-.649-1.829-.649-1.284 0-2.62.688-2.62 3.425 0 2.594.908 3.645 2.607 3.645.493 0 1.076-.09 1.388-.286V5.423h1.31V9.38c-.61.48-1.492.817-2.97.817-2.426 0-3.671-1.543-3.671-4.63C.66 2.284 2.437.844 4.68.844c1.595 0 2.321.571 2.607.857z"/></svg></svg><svg width="8" height="11" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#f60" x="843" y="215"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="11"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M5.092.974l2.905 9.092H6.609l-.765-2.49H2.381l-.778 2.49H.267L3.147.974h1.945zm-2.36 5.474h2.762l-.778-2.53c-.156-.558-.506-1.686-.584-2.036H4.08c-.065.337-.415 1.492-.558 1.997l-.79 2.569z"/></svg></svg><svg width="8" height="11" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#f60" x="856" y="215"><svg xmlns="http://www.w3.org/2000/svg" width="8" height="11"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M1.377 2.57c.039.401.064 1.945.064 2.632v4.864H.184V.974h1.725l2.71 5.124c.195.389.973 1.867 1.116 2.257h.078c-.04-.558-.04-2.31-.04-2.737V.974h1.233v9.092H5.32L2.544 4.84c-.194-.39-.921-1.828-1.089-2.27h-.078z"/></svg></svg></svg>
              </a>
             
              <form class="d-flex" method="get" action="">
               
                <input class="form-control me-2" type="search" placeholder="" aria-label="Search">
                <a href="#"><svg class="input" width="36" height="36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="1181 30 36 36"><svg width="36" height="36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#f60" x="1181" y="30"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36" height="36"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M18 0c9.941 0 18 8.059 18 18S27.94 36 18 36 0 27.94 0 18 8.059 0 18 0z"/></svg></svg><svg width="16" height="15" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="#fff" x="1191" y="41"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="15"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M14.156 14.58l-4.14-4.16v-.66l-.24-.22a4.978 4.978 0 0 1-1.61.95c-.604.219-1.24.33-1.89.33a5.393 5.393 0 0 1-2.73-.72 5.367 5.367 0 0 1-1.97-1.94 5.342 5.342 0 0 1-.74-2.74c0-.983.245-1.901.73-2.73A5.402 5.402 0 0 1 6.276 0a5.34 5.34 0 0 1 4.67 2.7c.47.823.71 1.738.71 2.72a5.59 5.59 0 0 1-.33 1.91 4.966 4.966 0 0 1-.95 1.61l.22.24h.68l4.14 4.14-1.26 1.26zm-7.88-12.9a3.69 3.69 0 0 0-1.88.5 3.797 3.797 0 0 0-1.37 1.36 3.64 3.64 0 0 0-.51 1.88c0 .676.171 1.309.51 1.88.338.571.8 1.032 1.37 1.37.57.338 1.203.51 1.88.51.676 0 1.309-.172 1.88-.51a3.78 3.78 0 0 0 1.36-1.37c.331-.57.5-1.203.5-1.88a3.717 3.717 0 0 0-3.74-3.74z"/></svg></svg></svg></a>
              </form>
        
              <a class="navbar-brand" href="#">
                <svg width="48" height="48" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" fill="none"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"><path paint-order="stroke fill markers" d="M24 0c13.255 0 24 10.745 24 24S37.255 48 24 48 0 37.255 0 24 10.745 0 24 0z"/></svg></svg>
              </a>
            </div>
          </nav>
          
        </header>
        
            
        {% include 'blog/components/navbar_categories.html' %}
      
        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        {# Global javascript #}
        <!--<script type="text/javascript" src="{% static 'js/company.js' %}"></script>-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
