.card{
    background-color: #FEF7F2;
    margin-top: 124px;
    padding-top: 42px;
    width: 546px; 
    height: 653px;
    border-radius: 15px;
    margin-bottom: 69px;
}
body{
    background-color: #FE6601;
}
hr{
    color: #707070;
    width: 356px;
    margin-left: 82px !important;
    margin-right: 82px !important;
    margin-top: 29px;
    margin-bottom: 0;
}
hr:not([size]){
    height: 2px;
}
.card-body{
    padding: 0;
    margin-top: 35px;
}
.card-title{
    font-family: sans-serif;
    font-size: 20px;
    color: #4E4E4E;
    font-weight:400;
    text-align: center;
    margin: 0;
    margin-bottom: 48px;
}
.form-label{
    font-family: sans-serif;
    font-size: 12px;
    margin-left: 4px;
    margin-bottom: 7px;
    margin-top: 11px;
    color: #4E4E4E;
    font-weight: 400;
}
.mb-3{
    margin-bottom: 0 !important;
    margin-left: 94.5px;
    margin-right: 94.5px;
}

.btn{
    width: 100%;
    height: 47px;
    margin-top: 110px !important;
    font-size: 15px;
}
.btn-primary, .btn-primary:hover{
    background-color: #FF6600;
    border-color: #FF6600;
    border-radius: 6px;
    
}
.form-control{
    height: 56px;
    border: 1px solid #D3D3D3;
}


